.intro {
    margin: 32px 37px 32px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        width: 75px;
    }
}

.about {
    margin: 0px 37px 32px 37px;
}

h2 {
    margin-bottom: 18px;
}

.location {
    margin: 0px 37px 0px 37px;
    .location-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            margin: 0px 0px 22px 3px;
        }
    }
    #map {
        padding: 0;
        margin-top: (32px/2px);
        height: 381px;
        width: 240px;
        margin-right: 37px;
        border-radius: 7px;
    }
}

.contact-info {
    margin: 32px 37px 0px 37px;
    li {
        list-style: none;
        padding: 10px 13px 10px 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 22px;
            height: 22px;
        }
        a {
            text-decoration: none;
        }
    }
    ul {
        padding: 0px;
        border: 1px solid #A5A5A5;
        border-radius: 7px;
    }
}

.business-hours {
    margin: 34px 37px 0px 37px;
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 12px;
    }
    #closed {
        color: #AC0000;
    }
    #open-time {
        color: #00680A;
    }
    #day {
        font-weight: 600;
        margin-bottom: 0px;
    }
    margin-bottom: 40px;
}