@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

.intro {
    margin: 32px 37px 32px 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .buttons {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        row-gap: 10px;
        width: 75px;
    }
    .fav-btn-wrapper {
        margin-bottom: 50px;
    }
    @media only screen and (min-width: 768px) {
        .fav-btn-wrapper {
            margin-right: 25px;
        }
    }
}

.intro-alt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about {
    margin: 0px 37px 32px 37px;
}

h2 {
    margin-bottom: 18px;
}

.location {
    margin: 0px 37px 0px 37px;
    .location-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        img {
            margin: 0px 0px 22px 3px;
        }
    }
    #map {
        padding: 0;
        margin-top: (32px/2px);
        height: 381px;
        width: 100%;
        margin-right: 37px;
        border-radius: 7px;
    }
}

.contact-info {
    margin: 32px 37px 0px 37px;
    li {
        list-style: none;
        padding: 10px 13px 10px 13px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            width: 22px;
            height: 22px;
        }
        a {
            text-decoration: none;
        }
    }
    ul {
        padding: 0px;
        border: 1px solid #a5a5a5;
        border-radius: 7px;
    }
}

.business-hours {
    margin: 34px 37px 0px 37px;
    ul {
        list-style: none;
        padding-left: 0;
    }
    li {
        margin-bottom: 12px;
    }
    #closed {
        color: #ac0000;
    }
    #open-time {
        color: #00680a;
    }
    #day {
        font-weight: 600;
        margin-bottom: 0px;
    }
    margin-bottom: 40px;
}

.col-1,
.col-2 {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .intro {
        margin-top: 56px;
        h1 {
            font-weight: 800;
        }
    }
    .col-2 {
        padding: 34px 37px 0px 37px;
    }
    .intro .buttons {
        display: flex;
        flex-direction: row;
        width: 175px;
        button {
            width: 75px;
        }
    }
    .location {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        #map {
            order: 1;
            width: 100%;
            height: 400px;
            padding-right: 0px;
            margin-right: 0px;
            max-width: 1800px;
        }
        padding: 0px 37px 0px 37px;
        margin: 0px 0px 0px 0px;
    }
    .location-title {
        margin-top: 40px;
    }
    .contact-info {
        width: 100%;
        margin: 0px;
        max-width: 1500px;
    }
    .about {
        width: 100%;
        margin: 0px;
        height: fit-content;
        padding: 0px 37px 0px 37px;
        max-width: 1500px;
    }
    .col-1 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        .location {
            order: 2;
        }
        .col-2 {
            order: 1;
        }
    }
    .business-hours {
        #hours-list {
            padding: 25px;
            padding-left: 0;
            width: 100%;
            border-radius: 7px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            // column-count: 4;
            // column-gap: 79px;
            // text-align: center;
            // column-rule: #a5a5a5;
            // column-rule-style: solid;
            // column-rule-width: 1px;
            li {
                p {
                    text-align: left;
                }
            }
        }
    }
    @media only screen and (min-width: 1800px) {
        .content {
            margin-left: 400px;
            margin-right: 400px;
        }
    }
}

.business_list {
    display: flex;
    margin-top: 46px;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    row-gap: 60px;
    column-gap: 10px;
    @media only screen and (min-width: 768px) {
        margin-top: 110px;
        row-gap: 100px;
        column-gap: 100px;
        margin-left: 50px;
        margin-right: 50px;
    }
    li {
        a {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            img {
                order: 1;
            }
            h6 {
                order: 2;
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
    .btn {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 35px;
        border: transparent;
        width: 140px;
        height: 140px;
        img {
            width: 60px;
            order: 1;
            margin-bottom: 12px;
        }
        @media only screen and (min-width: 768px) {
            width: 200px;
            height: 200px;
            img {
                width: 100px;
            }
        }
    }
    @media only screen and (min-width: 1800px) {
        margin-left: 400px;
        margin-right: 400px;
    }
}

.dash-title {
    padding-top: 56px;
}

.favorited {
    fill: #e71212;
    stroke: #e71212;
}

#favorite-wrapper {
    background-color: transparent;
    border: none;
}