.container {
    margin-bottom: 5vw;
}

input[type='image'] {
    max-width: 80%;
    height: auto;
}

.col {
    text-align: center;
}

#search-bar {
    border-radius: 30px;
}

.shop-img {
    max-width: 100%;
    height: auto;
}

.about {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.details {
    background-color: #E2FAF3;
    border-color: #929292;
    font-weight: bold;
}

@media (max-width: 350px) {
    #search-bar{
        font-size: small;
    }

    #search-bar:placeholder-shown{
        font-size: small;
    }

    .image {
        display: none;
    }
}

@media (max-width: 992px) {
    #search-bar{
        font-size: medium;
    }

    #search-bar:placeholder-shown {
        font-size: medium;
    }

    .details {
        margin-right: 3vw;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .search {
        padding-bottom: 3vw;
    }
}

@media (min-width: 1201px) {
    input[type='image'] {
        max-width: 60%;
        height: auto;
    }

    .search {
        padding-top: 2vw;
        padding-bottom: 3vw;
    }
}

@media (min-width: 1903px) {
    input[type='image'] {
        max-width: 45%;
        height: auto;
    }

    .search {
        padding-top: 2vw;
        padding-bottom: 3vw;
    }

    .shop-img {
        max-width: 70%;
        height: auto;
    }
}
